.nav {
    grid-area: n;
    background-color: #61dafb;
    padding: 20px;
  
  }

  .item {
    color: white;
    text-decoration: none;
  }
  .item a {
    color: white;
  }

  a.active{
    color: gold;
    text-decoration: none;
    font-weight: bold;
  }